{
  "trailingComma": "all",
  "quoteProps": "consistent",
  "singleAttributePerLine": true,

  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],

  "importOrder": ["^~/components/(.*)$", "^~/hooks/(.*)$", "^~/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,

  "tailwindFunctions": ["clsx", "tw"]
}
